certifi==2019.6.16
chardet==3.0.4
colorama==0.4.1
cx-Freeze==5.1.1
idna==2.8
prompt-toolkit==2.0.9
pydivert==2.1.0
questionary==1.2.1
requests==2.22.0
six==1.12.0
tqdm==4.34.0
urllib3==1.25.3
wcwidth==0.1.7
